@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}

body {
  font-family: "Poppins";
  min-width: 318px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

p {
  font-size: 14px;
}

li {
  font-size: 14px;
}

::placeholder {
  text-transform: capitalize;
}

/*** swiper ***/
.swiper-slide {
  width: auto;
}

/*** loading circle ***/
.css-1szo49z-MuiCircularProgress-root {
  color: #a855f7 !important;
}

/***swiper ***/
.swiper-button-disabled {
  display: none !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 25%) !important;
  transform: translateY(50%);
  color: #a855f7 !important;
}

@media (max-width: 1200px) {
  .swiper-button-prev,
  .swiper-button-next {
    transform: none;
  }
}

@media (max-width: 390px) {
  .swiper-button-prev,
  .swiper-button-next {
    transform: translateY(50%);
  }
}
